/* *********************************************** */
/* header */
/* *********************************************** */
body {
  margin: 0px;
}

p, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header .main_width {
  max-width: 1259px;
  margin: auto;
}

header .top_message {
  width: 100%;
  height: 20px;
  background-color: #00008B;
  margin: auto;
}

header .top_message p {
  color: white;
  text-align: right;
  margin-right: 15%;
}

.flex_box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

header .main_width .flex_box .img_area {
  width: 30%;
}

header .main_width .flex_box img {
  max-height: 50px;
}

header .main_width .flex_box .ul_list {
  width: 70%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

header .main_width .flex_box .ul_list li {
  padding-top: 19px;
  margin: 0 auto 0 0;
  width: auto;
  text-align: right;
}

header .main_width .flex_box .ul_list .contact {
  color: white;
  width: 10rem;
}

header .main_width .flex_box .ul_list .contact a {
  background-color: red;
  padding: 5%;
  text-align: right;
  color: white;
  border-radius: 10px;
}

header .main_width .flex_box .ul_list .contact a::before {
  font-family: "Font Awesome 5 Free";
  content: '\f0e0';
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

/* *********************************************** */

.wrapper{
  background-color: #00008B;
  color: white;


  margin-top: 0px;
  width:1259px;

  font-size: 10px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 800px;




}

.img1{
  margin-top: 10px;



}

.wrapper1 ul{

  justify-content: flex-end;


  margin-top: 12px;




}

.wrapper1 li{
  float:left;
  list-style: none;
  margin-right: 70px;

}

.big1{
  font-size: 13px;
  color:gray;
  margin-top: 5px;
  margin-left: 0px;
}

.big2{
  font-size: 13px;
  color:gray;
  margin-top: 5px;
}

.big3{
  font-size: 13px;
  color:gray;
  margin-top: 5px;
}

.big4{
  font-size: 13px;
  color:gray;
  margin-top: 5px;
}

.big5{
  font-size: 13px;
  color:gray;
  margin-top: 5px;

}

.big6{
  background-color: red;
  padding:5px 20px;
  margin-top: 2px;

  color: white;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
  font-size: 7px;

}

.big6::before{
  font-family: "Font Awesome 5 Free";
  content: '\f0e0';
  font-weight:bold;
  margin-right: 10px;

}

.main_width{
  width: 1259px;
  margin: auto;
  height: auto;

}

.wrapper2{

  background-color: #00008B;

  width:1255px;
  position: absolute;
  list-style: none;
  position: relative;
  height:230px;


}

.wrap1{
  list-style: none;
  font-size: 20px;
}

.item1{
  color: white;
  margin-left: 185px;
}

.item2{
  color:red;
  background-color: #F0E68C;

  padding: 3px 70px;
  margin-left: 80px;
  margin-right: 595px;

}

span1{
  font-size: 30px;
}

.item3{
  margin-left: 185px;
  color: white;
}

.item3::before{
  content:"\\";
  font-size: 30px;
  color: white;

}

.item3::after{
  content:"/";
  font-size: 30px;
  color: white;

}

.text::before{
  font-family: "Font Awesome 5 Free";
  content: '\f0e0';
  font-weight:bold;
}

.photo1{


  margin-top: 10px;
  margin-bottom: -27px;


}




}

.soccer{
  float:left;




}

.item4{
  list-style: none;
  float: left;
  margin-right: 40px;
  font-size: 15px;
  margin-left: 0px;
  background-color: red;
  color:white;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
  padding: 5px 5px;
  text-align: center;
  width: 80px;





}

.item5{
  list-style: none;
  float: left;
  margin-right: 40px;
  font-size: 15px;
  background-color: red;
  color:white;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
  padding: 5px 5px;
  text-align: center;
  width: 80px;


}

.item6{
  list-style: none;
  float: left;
  margin-right: 40px;
  font-size: 15px;
  background-color: red;
  color:white;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
  padding: 5px 5px;
  text-align: center;
  width: 80px;

}

.item7{
  list-style: none;
  float: left;
  margin-right: 40px;
  font-size: 15px;
  background-color: red;
  color:white;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
  padding: 5px 5px;
  text-align: center;
  width: 80px;
}

.item8{
  list-style: none;
  float: left;
  margin-right: 40px;
  font-size: 15px;
  background-color: red;
  color:white;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
  padding: 5px 5px;
  text-align: center;
  width: 80px;
}

.item9{
  list-style: none;
  float: left;
  margin-right: 40px;
  font-size: 15px;
  background-color: red;
  color:white;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
  padding: 5px 5px;
  text-align: center;
  width: 80px;
}

.wrap3{
  color: white;
  background-color: gray;
  list-style: none;
  padding-right: 50px;
  padding-top: 80px;
  position: absolute;
  width: 250px;
  height:133px;
  top:0px;
  bottom:0px;
  left:700px;
  right:0px;
  margin:auto;
  border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;

  text-align: center;



}

.wrapper3{
  position: relative;
  text-align: center;
  background-color: #FFFF99;
  color: #FF773E;
  font-size:30px;


  width:1259px;
  height:400px;
  margin-top: 100px;
  margin-bottom: 0px;
}

.photo2{
  position: absolute;
  text-align: center;
}

.contents{
  position:absolute;

  display: flex;



}

.photo3{


  margin: auto;



}

.item11{
  text-align: right;
  padding-bottom: 0px;
  margin:0px;
  color:red;
  font-size: 10px;

}

.item12{
  margin:0px;
  font-size: 15px;


}

.item13{
margin: 0px;
font-size: 10px;
color: gray;
}

span2{
  font-size: 15px;
  color:red;
}

.wrapper4{
  background-color: blue;
  margin-top: 430px;
  margin-bottom: 0px;


}

.item14{
  color: white;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

.item15{
  color: white;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
}
.text::after{
  content:"/";
  font-size:50px;
  color:black;
}

ul1{
  margin: 0px;
  padding-left: 0px;
}
